---
layout: base
full_title: Beau Simensen
---
<h1>Beau Simensen</h1>
<p>
    This is the personal web site of Beau Simensen. A collection of his profiles, blogs, and other web sites.
    It has been left intentionally lo-fi for the time being.
    Expect big changes after <a href="http://getsculpin.com">Sculpin</a> matures.
</p>

<h2>Symfony Community</h2>
<p>
    You may know me from IRC as <strong>simensen</strong> and can usually find me
    in the likes of #composer, #composer-dev, #symfony, #symfony-dev, #silex-php,
    and #symfony-cmf.
</p>

<h2>Social Networking Profiles</h2>
<ul>
    <li><a href="http://twitter.com/beausimensen">Twitter @beausimensen</a></li>
    <li><a href="http://www.google.com/profiles/simensen" rel="me">Google Profile</a></li>
    <li><a href="http://facebook.com/simensen">Facebook</a></li>
    <li><a href="http://www.linkedin.com/in/simensen">LinkedIn</a></li>
    <li><a href="http://stackoverflow.com/users/50453/beau-simensen">Stack Overflow</a></li>
</ul>

<h2>GitHub Profiles</h2>
<ul>
    <li><a href="https://github.com/simensen">@simensen</a></li>
    <li><a href="https://github.com/dflydev">@dflydev</a></li>
    <li><a href="https://github.com/offloc">@offloc</a></li>
    <li><a href="https://github.com/sculpin">@sculpin</a></li>
</ul>

<h2>Professional Sites</h2>
<ul>
    <li><a href="http://dflydev.com">Dragonfly Development Inc.</a></li>
    <li><a href="http://offloc.com">Offloc Incorporated</a></li>
</ul>

<h2>Personal Sites</h2>
<ul>
    <li><a href="http://srcmvn.com/">Source Maven</a></li>
    <li><a href="http://not-invented-here.com/">Not Invented Here</a></li>
    <li><a href="http://not-seen-here.com/">Not Seen Here</a></li>
    <li><a href="http://kirkryyn.com/">Kir Kryyn</a></li>
</ul>

<h2>Resume</h2>
<ul>
    <li><a href="{{ site.url }}/resume/">Beau Simensen's resume can be found here</a></li>
</ul>

