---
layout: base
full_title: Beau Simensen
---
<h1>Beau Simensen</h1>
<p>
    This is the personal web site of Beau Simensen. A collection of his profiles, blogs, and other web sites.
    It has been left intentionally lo-fi for the time being.
    Expect big changes after <a href="http://getsculpin.com">Sculpin</a> matures.
</p>

<h1>Resume</h1>
<ul>
    <li><a href="{{ site.url }}/resume/">Beau Simensen's resume can be found here</a></li>
</ul>

<h1>GitHub Profiles</h1>
<ul>
    <li><a href="https://github.com/simensen">@simensen</a></li>
    <li><a href="https://github.com/dflydev">@dflydev</a></li>
    <li><a href="https://github.com/offloc">@offloc</a></li>
    <li><a href="https://github.com/sculpin">@sculpin</a></li>
</ul>

<h1>Professional Sites</h1>
<ul>
    <li><a href="http://dflydev.com">Dragonfly Development Inc.</a></li>
    <li><a href="http://offloc.com">Offloc Incorporated</a></li>
</ul>

<h1>Personal Sites</h1>
<ul>
    <li><a href="http://srcmvn.com/">Source Maven</a></li>
    <li><a href="http://not-invented-here.com/">Not Invented Here</a></li>
    <li><a href="http://not-seen-here.com/">Not Seen Here</a></li>
    <li><a href="http://kirkryyn.com/">Kir Kryyn</a></li>
</ul>

<h1>Social Networking Profiles</h1>
<ul>
    <li><a href="http://www.linkedin.com/in/simensen">LinkedIn</a></li>
    <li><a href="http://twitter.com/kirkryyn">Twitter @kirkryyn</a></li>
    <li><a href="http://facebook.com/simensen">Facebook</a></li>
    <!--<li><a href="http://www.ohloh.net/accounts/simensen">ohloh</a></li>-->
    <li><a href="http://stackoverflow.com/users/50453/beau-simensen">Stack Overflow</a></li>
    <li><a href="http://www.google.com/profiles/simensen" rel="me">Google Profile</a></li>
</ul>
