---
layout: base
bodyClass: resume
title: Resume
---
{% block stylesheets %}
<link href="{{ site.url }}/assets/css/resume.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="{{ site.url }}/assets/css/resume-print.css" media="print" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<header class="vcard">
    <h1 class="fn">Beau Simensen</h1>
    <ul>
        <li><a href="tel:1-206-588-6366" class="tel">206.588.6366</a></li>
        <li><a href="mailto:beau@dflydev.com" class="email">beau@dflydev.com</a></li>
    </ul>
</header>

<section>
    <header>
        Objective
    </header>
    <div>
        <p>
            To work on interesting problems requiring creative solutions.
        </p>
    </div>
</section>

<section class="experience">
    <header>
        Experience
    </header>
    <ul>
        <li>
            <header>
                <div class="name">
                    <a href="http://dflydev.com">Dragonfly Development Inc.</a>
                    <small><a href="http://dflydev.com">http://dflydev.com</a></small>
                </div>
                <div class="timeframe">
                    <time datetime="2009">2009</time> &ndash; Present
                </div>
            </header>
            <p>
                Founder and Software Architect responsible for research, design, and development of client and internal projects.
            </p>
        </li>

        <li>
            <header>
                <div class="name">
                    <a href="http://offloc.com">Offloc Incorporated</a>
                    <small><a href="http://offloc.com">http://offloc.com</a></small>
                </div>
                <div class="timeframe">
                    <time datetime="2010">2010</time> &ndash; Present
                </div>
            </header>
            <p>
                Co-Founder and Software Architect responsible for research, design, and development of client and internal projects.
            </p>
        </li>

        <li>
            <header>
                <div class="name"><a href="http://propmarks.com">Propmarks Inc.</a><small><a href="http://propmarks.com">http://propmarks.com</a></small></div>
                <div class="timeframe">
                    <time datetime="2010">2010</time> &ndash; Present
                </div>
            </header>
            <p>
                Co-Founder and Software Architect responsible for research, design, and development of client and internal projects.
            </p>
        </li>

        <li>
            <header>
                <div class="name">Halogen Creative<small>Utah, Washington</small></div>
                <div class="timeframe">
                    <time datetime="2005">2005</time> &ndash; <time datetime="2009">2009</time>
                </div>
            </header>
            <p>
                Co-Founder responsible for research, design, and development of client and internal projects.
            </p>
        </li>

        <li>
            <header>
                <div class="name">VIB.tv/HomeNet Communications<small>Utah, Washington</small></div>
                <div class="timeframe">
                    <time datetime="2002">2002</time> &ndash; <time datetime="2005">2005</time>
                </div>
            </header>
            <p>
                Lead software developer responsible for design and development of set-top box software providing
                video services (live television and video-on-demand) over IP for Fiber To The Home networks.
            </p>
        </li>

        <li>
            <header>
                <div class="name">Zengine<small>California</small></div>
                <div class="timeframe">
                    <time datetime="2001">2001</time> &ndash; <time datetime="2002">2002</time>
                </div>
            </header>
            <p>
                Software engineer, engineering manager, release manager, and QA manager.
            </p>
        </li>

        <li>
            <header>
                <div class="name">DNAI/RCN<small>California</small></div>
                <div class="timeframe">
                    <time datetime="1998">1998</time> &ndash; <time datetime="2000">2000</time>
                </div>
            </header>
            <p>
                Software developer, regional systems manager responsible for rewriting and maintaining internal
                billing and accounting software, created internal tools for customer support and customer
                service and designed a migration plan for two legacy ISPs to be moved to a new shared data center.
            </p>
        </li>
    </ul>
</section>

<section class="skills">
    <header>
        Skills
    </header>
    <ul>
        <li>
            <p>
                Experience in many programming languages. (PHP, Java, Python, C, C++, Ruby, Perl)
            </p>
        </li>
        <li>
            <p>
                Experience in many web related technologies. (REST, XML, HTML, CSS, JavaScript)
            </p>
        </li>
        <li>
            <p>
                Experience working with databases. (MySQL, sqlite, redis)
            </p>
        </li>
        <li>
            <p>
                Experience configuring, deploying, and managing continuous integration systems. (Jenkins, Hudson, TeamCity)
            </p>
        </li>
        <li>
            <p>
                Experience using various source code management systems. (git, subversion)
            </p>
        </li>
        <li>
            <p>
                Experience in deployment and systems operations management.
            </p>
        </li>
        <li>
            <p>
                Experience with Linux based servers and related technologies. (web servers, database servers, DNS, installing software, configuration)
            </p>
        </li>
        <li>
            <p>
                Work well independently, as a part of a team, or as a head of a team.
            </p>
        </li>
        <li>
            <p>
                Ability to pick up new skills quickly and efficiently.
            </p>
        </li>
    </ul>
</section>

<section class="projects">
    <header>
        Notable Software Projects
    </header>
    <ul>
        <li>
            <header>
                <div class="name"><a href="http://getsculpin.com">Sculpin</a><small><a href="http://getsculpin.com">http://getsculpin.com</a></small></div>
                <div class="timeframe">
                    <time datetime="2012">2012</time> &ndash; Present
                </div>
            </header>
            <p>
                A static site generator.
            </p>
        </li>

        <li>
            <header>
                <div class="name"><a href="https://github.com/dflydev/git-subsplit">git-subsplit</a><small><a href="https://github.com/dflydev/git-subsplit">https://github.com/dflydev/git-subsplit</a></small></div>
                <div class="timeframe">
                    <time datetime="2012">2012</time> &ndash; Present
                </div>
            </header>
            <p>
                Automates and simplifies the process of managing one-way read-only git subtree splits.
            </p>
        </li>

        <li>
            <header>
                <div class="name"><a href="https://github.com/offloc/offloc-router">offloc/router</a><small><a href="https://github.com/offloc/offloc-router">https://github.com/offloc/offloc-router</a></small></div>
                <div class="timeframe">
                    <time datetime="2012">2012</time> &ndash; Present
                </div>
            </header>
            <p>
                URL shortener designed to power Offloc's <a href="http://a2d.co">A2D.co</a> platform.
            </p>
        </li>

        <li>
            <header>
                <div class="name"><a href="http://wordpress.org/extend/plugins/embed-github-gist">Embed GitHub Gist WordPress Plugin </a><small><a href="http://wordpress.org/extend/plugins/embed-github-gist">http://wordpress.org/extend/plugins/embed-github-gist</a></small></div>
                <div class="timeframe">
                    <time datetime="2010">2010</time> &ndash; Present
                </div>
            </header>
            <p>
                Enables WordPress blogs to embed GitHub Gist source code display both in posts and on pages.
            </p>
        </li>
    </ul>
</section>
<section class="sites">
    <header>
        Public Sites and Applications
    </header>
    <ul>
        <li>
            <header>
                <div class="name"><a href="https://github.com/simensen">Beau Simensen on GitHub &mdash; @simensen</a><small><a href="https://github.com/simensen">https://github.com/simensen</a></small></div>
                <div class="timeframe">
                    <time datetime="2010">2010</time> &ndash; Present
                </div>
            </header>
            <p>
                Personal GitHub profile containing forks of projects to which contributions have been made.
            </p>
        </li>

        <li>
            <header>
                <div class="name"><a href="https://github.com/dflydev">Dragonfly Development on GitHub &mdash; @dflydev</a><small><a href="https://github.com/dflydev">https://github.com/dflydev</a></small></div>
                <div class="timeframe">
                    <time datetime="2010">2010</time> &ndash; Present
                </div>
            </header>
            <p>
                Libraries and applications used by Dragonfly have been made available on GitHub as open source software.
            </p>
        </li>

        <li>
            <header>
                <div class="name"><a href="https://github.com/offloc">Offloc on GitHub &mdash; @offloc</a><small><a href="https://github.com/offloc">https://github.com/offloc</a></small></div>
                <div class="timeframe">
                    <time datetime="2012">2012</time> &ndash; Present
                </div>
            </header>
            <p>
                Projects created for Offloc that have been made available on GitHub as open source software.
            </p>
        </li>

        <li>
            <header>
                <div class="name"><a href="https://oapp.org">OpenAPP</a><small><a href="https://oapp.org">https://oapp.org</a></small></div>
                <div class="timeframe">
                    <time datetime="2010">2010</time> &ndash; Present
                </div>
            </header>
            <p>
                Connects content to applications. Sketch of a concept for an extensible, decentralized protocol for
                launching or suggesting applications based on HTTP Headers or &lt;meta&gt; tags.
            </p>
        </li>

        <li>
            <header>
                <div class="name"><a href="https://propmarks.com">Propmarks</a><small><a href="https://propmarks.com">https://propmarks.com</a></small></div>
                <div class="timeframe">
                    <time datetime="2010">2010</time> &ndash; Present
                </div>
            </header>
            <p>
                Helps Commercial and Residential Real Estate professionals create mobile property listings. Tour and
                access to the management system is available upon request.
            </p>
        </li>

        <li>
            <header>
                <div class="name"><a href="https://s3a.us">s3a</a><small><a href="https://s3a.us">https://s3a.us</a></small></div>
                <div class="timeframe">
                    <time datetime="2007">2007</time> &ndash; Present
                </div>
            </header>
            <p>
                Seattle urban art community website.
            </p>
        </li>
    </ul>
</section>
{% endblock %}
